

/* start  style category part */

.form_category_style{
    background-color: #454d55;
    padding:30px;
    
}
.form_category_style label{
    font-size: 25px;
    color:#fff;
}
.form_category_style input{
    margin-bottom: 20px;
}
/* end style category part */ 